/* From Uiverse.io by mi-series */ 
.contendor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #e8e8e8;
  }
  
  .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #bab7d8;
    height: auto;
    width: auto;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #E99F4C;
  }
  
  .titulo {
    color: #264143;
    font-weight: 900;
    font-size: 2em;
    margin-top: 20px;
  }
  
  .sub_titulo {
    font-weight: 600;
    margin: 5px 0;
  }
  
  .form_group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
  }
  
  .form_style {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
  }
  
  .form_style:focus, .btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #E99F4C;
  }
  
  .btn {
    padding: 15px;
    margin: 25px 0px;
    width: 290px;
    font-size: 15px;
    background: #d4c7ce;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #E99F4C;
  }
  
  .btn:hover {
    background-color: #3b82f6;
    color: #fff;
    opacity: 0.9;
  }
  
  .link {
    font-weight: 800;
    color: #264143;
    padding: 5px;
  }